# Datasets
# Ignore data files but track the folder structure
data/*.csv
data/*.json
data/*.xlsx
data/*.parquet
data/*.zip
*.csv
*.json
*.xlsx
*.parquet

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Environment files
.env